* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box{
    width: 1160px;
    margin: auto;
    line-height: 105px;
    display: flex;
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    padding: 0 20px;
    justify-content: space-between;

}
.container {
    width: 1160px;
    margin: auto;
}

.wht {
    color: white;
}

.text {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #daac00;
}

.navbar {
    line-height: 105px;
    display: flex;
    
    justify-content: space-between;

}

.logo img {
    vertical-align: middle;
}

.menu {
    display: inline-flex;
}

.menu a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    padding: 0 20px;
}

.menu a:hover {
    color: #00BFCA;


}

input {
    border: none;
    width: 300px;
    height: 35px;
    background-color: #FFC400;
    padding: 0 85px 0 15px;
}


header ::placeholder {
    font-size: 17px;
    color: white;
}

.hbtn {
    width: 70px;
    font-size: 20px;
    height: 33px;
    background-color: #FFC400;
    position: absolute;
    top: 37px;
    right: 0;
    border: none;
}

.hbtn:hover {
    background-color: #00BFCA;
}

.search {
    border: none;
    position: relative;
}

.gp1box {
    width: 60%;
    padding: 150px 0;
}

.gp1box2 {
    width: 40%;
    padding-top: 75px;
}

.gp1 {
    background-color: #FFC400;
}

.gp1 .container {
    display: flex;
}

.gp1box2 img {
    width: 100%;
}

.gp1box h3 {
    font-size: 67px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 65px;
}

.gp1box p {
    font-size: 29px;
    font-weight: 400;
    padding: 40px 0;
}

.gp1btn {
    font-size: 21px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;
    padding: 18px 40px;
    background-color: #FFC400;
}

.gp1btn a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.gp1btn:hover {
    background-color: #00BFCA;
}

.row {
    display: flex;
    padding: 145px 0 175px;
}

.col-1 {
    width: 50%;
    padding-right: 40px;
    margin: auto;
}

.col-1 h3,
.col-11 h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 67px;
}

.col-1 p,
.col-11 p {
    font-size: 29px;
    font-weight: 400;
    padding: 28px 0;
    line-height: 36px;
}

.col-1 button,
.col-11 button {
    background-color: #FFC400;
    border-radius: 10px;
    border: none;
    padding: 20px 40px;
}

.col-1 button:hover,
.col-11 button:hover {
    background-color: #00BFCA;
}

.col-1 button a,
.col-11 button a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 600;
}

.col-2 {

    width: 50%;
    position: relative;
}

.col-2box1 {
    width: 255px;
    height: 205px;
    background-color: #FFC400;
    position: absolute;
    left: 0px;
    top: 310px;
}

.col-2box2 {
    width: 505px;
    height: 480px;
    background-color: #FFC400;
    margin: auto;
}

.col-2box2 img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.col-2box2 i {
    font-size: 85px;
    color: white;
    position: absolute;
    top: 43%;
    right: 43%;
}

.gp3 {
    background-color: #FFC400;
    padding: 95px 0;
}

.gp3title {
    width: 745px;
    margin: auto;
    text-align: center;
}

.gp3title h2 {
    font-size: 75px;
    font-weight: 700;
}

.gp3title p {
    font-size: 33px;
    font-weight: 400;
    padding: 45px 0 95px;
}

.gp3 .container {
    display: flex;
    justify-content: space-between;
}

.card3 {
    width: 340px;
    text-align: center;
}

.cardimg3 {
    width: 340px;
    height: 355px;
}

.cardimg3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card3 h4 {
    font-size: 38px;
    font-weight: 600;
    line-height: 100px;
}

.card3 p {
    line-height: 32px;
    font-size: 25px;
    font-weight: 400;
}


/* group-4 css */


.col-2box11 {
    width: 255px;
    height: 205px;
    background-color: #FFC400;
    position: absolute;
    right: 0px;
    top: 310px;
}

.col-11 {
    width: 50%;
    padding-left: 40px;
    text-align: right;
    margin: auto;
}

.gp9 {
    background-color: #2F3030;
}

.row9 {
    display: flex;
    padding: 150px 00 180px 0;
}

.col-503 {
    width: 50%;
}

table {
    margin: auto;
}

th {
    width: 50%;
    text-align: left;
    font-size: 38px;
    font-weight: 600;
    line-height: 77px;
}

td {
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
}

.col-504 {
    text-align: right;
    width: 50%;
}

.col-504 h4 {
    font-size: 38px;
    font-weight: 600;
    line-height: 77px;
}

.col-504 p {
    font-size: 25px;
    font-weight: 400;
}

.col-504 input {
    height: 72px;
    width: 438px;
    background-color: #daac00;
    font-size: 30px;
    color: white;
    vertical-align: middle;
    border: none;
}

.col-504 input:focus {
    border: 5px outset white;
}

.col-504 button {
    height: 72px;
    width: 120px;
    background-color: #daac00;
    vertical-align: middle;
    border: none;
}

.col-504 button:hover {
    background-color: #00BFCA
}

.col-504 i {
    font-size: 50px;
    color: white;
}

.gp9i i {
    padding-left: 20px;
}

.gp9i i:hover {
    color: #00BFCA;
}

.tele {
    padding: 45px 0;
}

.tele ::placeholder {
    font-size: 30px;
    color: white;
    line-height: 10px;
}




@media (max-width:500px) {
    .container {
        width: 100%;
    }
    .navbar{
        width: 100%;
        flex-wrap: wrap;
        line-height: 70px;
        justify-content: center;
    }
    .menu{
        display: block;
    }
    .hbtn{
    position: absolute;
    top: 18px;
    right: 0;
    border: none;
}
    .gp1 .container {
        flex-wrap: wrap;
     
    }
    .gp1box {
        width: 100%;
        padding: 30px;
    }

    .gp1box2 {
        width: 100%;
    }

    .gp1box2 img {
        width: 60%;
        display: block;
        margin: auto;
    }
    .gp3 .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .row{
        flex-wrap: wrap;
        width: 100%;
       
    }
    .col-1{
        width: 100%;
        padding: 0 40px 80px;
    }
    .col-2{
        width: 100%;
     
    }
    .col-2box1 {
        display: none;
   
    }


    .col-2box11 {
      
        display: none;
    }
    .col-11{
        width: 100%;
        padding: 120px 40px 0;
    }

.gp3title{width: 100%;
    text-align: center;
}

    .row9{
        flex-wrap: wrap;
            padding: 50px 0px;
    }
    table{
    
        padding: 0 20px;
    }
    .col-503{
        width: 100%;
      
    }
    .col-504{
        width: 100%;
        padding: 120px 0;
   text-align: center;
    }
    .col-504 input {
        /* height: 72px; */
        width: 338px;
    }
}