* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.col {
    width: 1440px;
    margin: 0 auto;
    background-image: url(./images/Background.png);
}

.row {
    display: flex;
    justify-content: space-between;
    line-height: 115px;
    color: #fcfcfc;
    background-color: #DE7E69;
    padding: 0 55px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.nav li {
    display: inline-block;
    padding: 0 30px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
}

.rside-menu li {
    display: inline-block;
    padding-left: 30px;
}

.logo img {
    vertical-align: middle;
}

.sign-in {
    border: #ffffff 2px solid;
    border-radius: 40px;
    padding: 7px 23px;
}

.group-1 {
    display: flex;
}

.lhs1 {
    width: 50%;
    height: 805px;
    background: url(./images/Leafs\ 1.png) -54px 570px no-repeat, url(./images/Leafs\ 2.png) 595px 120px no-repeat;
}

.aa {
    width: 60%;
    text-align: center;
    margin: 200px auto;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 53px;
    color: #484a4b;
    font-weight: 700;
}

.sub-tit {
    font-size: 25px;
    line-height: 97px;
    color: #765a33;
    font-weight: 600;
    font-family: "Montserrat Alternates";
}

.para {
    text-align: justify;
    font-size: 25px;
    line-height: 29px;
    color: #765a33;
    font-weight: 400;
    font-family: "Josefin Slab";
}

.btn {
    line-height: 90px;
}

.btn button {
    font-size: 13px;
    color: #484a4b;
    font-weight: 800;
    font-family: "Montserrat Alternates";
    margin: 20px;
    padding: 7px 12px;
    border-radius: 50px;
}

.btn button:hover {
    background-color: yellowgreen;
    color: white;
    border: 3px solid#484a4b;
}

.rhs1 {
    width: 50%;
}

.rhs1 img {
    width: 100%;
    height: 805px;
    object-fit: cover;
}

.group-2 {
    display: flex;
    justify-content: space-around;
    height: 265px;
    background-color: #765a33;
    font-size: 48px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Playfair Display";
    text-align: center;
    padding-top: 85px;
}

.group-2 div p {
    font-size: 17px;
    font-family: "Montserrat Alternates";
}

.group-3 {}

.top3 {
    height: 355px;
    background: url(./images/Leaf\ 1.png) 48px 140px no-repeat, url(./images/Leaf\ 2.png) 1290px 140px no-repeat;
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 53px;
    color: #484a4b;
    font-weight: 700;
    font-family: "Playfair Display";
    text-align: center;
    padding-top: 130px;
}

.top3 p {
    font-size: 25px;
    line-height: 60px;
    color: #765a33;
    font-weight: 500;
    font-family: "Montserrat Alternates";
    text-align: center;
}

.heart {
    line-height: 20px;
    font-size: 30px;
    color: red;
    text-align: right;
}

.g3slider {
    margin-left: 35px;
}

.slider1 img {
    width: 100%;
}

.slider1 {
    width: 21%;
    display: inline-block;
    margin: 20px;
    filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.19));
    background-color: #e6e3da;
}

.para1 {
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 55px;
    color: #484a4b;
    font-weight: 700;
    font-family: "Playfair Display";
    text-align: center;
}

.para2 {
    font-size: 16px;
    line-height: 19px;
    color: #765a33;
    font-family: "Montserrat Alternates";
    text-align: left;
    padding: 0 13px;
}

.g3down {
    line-height: 160px;
}

.g3bottom {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;
    position: relative;
}

.g3down1 {
    position: absolute;
    left: -500px;
}

.g3down2 {
    position: absolute;
    right: -500px;
}

.group-42 {
    height: 1050px;
    background: url(./images/g4Leaf\ 1.png) -70px 60px no-repeat, url(./images/g4Leaf\ 2.png) 1350px 675px no-repeat;
}

.group-4 {
    height: 180px;
}

.g4title {
    font-size: 58px;
    letter-spacing: 1px;
    color: #484a4b;
    font-weight: 700;
    font-family: "Playfair Display";
    text-align: center;
}

.group-4 p {
    font-size: 25px;
    color: #765a33;
    font-family: "Montserrat Alternates";
    text-align: center;
}

.g4box {
    width: 1120px;
    height: 700px;
    margin: auto;
    position: relative;
}

.g4box1 {
    width: 278px;
    height: 260px;
    background-color: #c87e6b;
    position: absolute;
    bottom: 0;
}

.g4box2 {
    width: 569px;
    height: 353px;
    border: 5px solid #8a6a3e;
    position: absolute;
    right: 0;
}

.g4box3 {
    position: relative;
}

.g4box3 img {
    position: absolute;
    margin: 40px;
    width: 1040px;
    height: 620px;
}

.g4box3 i {
    position: absolute;
    font-size: 80px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    top: 300px;
}

.group-5 {
    display: flex;
    background-color: #E5C677;
    height: 390px;
    text-align: center;

}

.g5l {
    width: 50%;

}

.g555 {
    width: 345px;
    margin: 66px auto;
    position: relative;
}

.g5leaf1 {
    position: absolute;
    top: 60px;
    left: -140px;
}

.g5leaf2 {
    position: absolute;
    top: 60px;
    right: -140px;
}

.g5r {
    width: 50%;
}

.g5r img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.g5a {
    width: 275px;
    margin: auto;
    color: #fcfcfc;
    border-radius: 50px;
    font-size: 27px;
    letter-spacing: 1px;
    line-height: 50px;
    background-color: #424242;
    font-weight: 700;
    font-family: "Playfair Display";
}

.g5b {
    font-size: 164px;
    letter-spacing: 4px;
    line-height: 148px;
    color: #424242;
    font-weight: 900;
    font-family: "Montserrat Alternates";
}

.g5c {
    font-size: 29px;
    line-height: 29px;
    color: #424242;
    font-weight: 600;
    font-family: "Montserrat Alternates";
    padding: 0 25px;
}

.group-6 {
    display: flex;
    height: 660px;
    margin: 120px 55px 200px;
    position: relative;
}

.group-6>img {
    position: absolute;
    right: -114px;
    bottom: -237px;
}

.g6l {
    width: 750px;
    position: relative;
}

.g6la {
    width: 166px;
    height: 115px;
    background-color: #c87e6b;
    position: absolute;
    right: 0;
}

.g6lb {
    width: 354px;
    height: 320px;

    border: 4px solid #8a6a3e;
    position: absolute;
    bottom: 0;
}

.g6l img {
    position: absolute;
    width: 680px;
    height: 585px;
    margin: 34px;

}

.g6r {
    width: 576px;
    position: relative;


}

.g6r img {
    position: absolute;
    top: 140px;
    left: 80px;
}

.g6ra {
    width: 410px;
    margin: 250px auto 120px;
}

.g6ra div {
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 60px;
    color: #484a4b;
    font-weight: 700;
    font-family: "Playfair Display";
}

.g6ra p {

    font-size: 25px;
    line-height: 30px;
    color: #765a33;
    font-family: "Josefin Slab";
    text-align: justify;
    padding: 25px 0px;
}

.g6ra button {
    width: 135px;
    background-color: #424242;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #e6e3da;
    border-radius: 50px;
    font-family: "Montserrat Alternates";
}

.g9top {
    text-align: center;
}

.g9top1 {
    width: 500px;
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 62px;
    color: #484a4b;
    font-weight: 700;
    font-family: "Playfair Display";
    margin: auto;
}

.g9top2 {
    width: 890px;
    font-size: 25px;
    line-height: 29px;
    color: #484a4b;
    font-family: "Josefin Slab";
    margin: auto;
    padding: 20px 0;
}

.g9mid {
    width: 980px;
    margin: auto;
}

form input,
textarea {
    font-family: "Montserrat Alternates";
    color: #bdbdbd;
    border: 3px solid #bdbdbd;
    border-radius: 10px;
    font-size: 18px;
    width: 980px;
    padding: 15px;
    margin: 10px;
}

.fsub {
    width: 200px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #DE7E69;
}

.group-10 {
    height: 650px;
    background-color: #3E4040;
    padding: 120px 100px 100px;
}

table {
    background-color: #3E4040;
    color: #ffffff;
    width: 100%;
    font-family: "Montserrat Alternates";
}

thead {
    line-height: 111px;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: left;
}

td {
    font-size: 25px;
    line-height: 44px;
}

.footer {
    line-height: 150px;
    color: #ffffff;
    font-size: 30px;
    text-align: right;
}

.footer i {
    padding: 10px;
}
   